<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/_head") %>
  <body>
    <%- include("../partials/_header") %>
    <!-- // Main content of the home page & need better UI -->
    <main
      class="p-4 text-center bg-gray-100 flex flex-col items-center justify-center"
    >
      <h1 class="text-3xl font-bold mb-4"><%= home.name %></h1>
      <img
        class="w-96 h-64 object-cover rounded mb-4"
        src="<%= home.image %>"
        alt="<%= home.name %>"
      />
      <p class="text-lg mb-2">Location: <%= home.address %></p>
      <p class="text-lg mb-2">Price per Night: $<%= home.price %></p>
      <%- include("../partials/_favourite_form", { home: home }) %>
    </main>
  </body>
</html>
