<header
  class="main-header flex bg-purple-300 text-gray p-4 mx-auto items-center rounded-lg"
>
  <h1 class="text-2xl w-[20%] font-bold">
    <a href="/">Airbnb</a>
  </h1>
  <!-- active url should be highlighted in the nav bar -->
  <nav class="ml-10 w-[60%] text-center">
    <ul class="flex justify-center gap-3">
      <li
        class="p-1 hover:bg-gray-200 border border-gray-300 rounded-lg <%= title === 'Home Page' ? 'bg-gray-200' : '' %>"
      >
        <a href="/home">Home</a>
      </li>
      

      
      <% if(isLoggedIn) { %>
        <% if(user && user.userType === "host") { %>
          <li
            class="p-1 hover:bg-gray-200 border border-gray-300 rounded-lg <%= title === 'Add Home' ? 'bg-gray-200' : '' %>"
          >
            <a href="/host/add-home">Add Home</a>
          </li>
          <li
            class="p-1 hover:bg-gray-200 border border-gray-300 rounded-lg <%= title === 'Hosts Home List' ? 'bg-gray-200' : '' %>"
          >
            <a href="/host/home-list">Hosts</a>
          </li>
        <% }else{ %>
          <li
            class="p-1 hover:bg-gray-200 border border-gray-300 rounded-lg <%= title === 'Booking Page' ? 'bg-gray-200' : '' %>"
          >
            <a href="/booking">Bookings</a>
          </li>
          <li
            class="p-1 hover:bg-gray-200 border border-gray-300 rounded-lg <%= title === 'Favourites Page' ? 'bg-gray-200' : '' %>"
          >
            <a href="/favourites">Favourite List</a>
          </li>
        <% } %>
      <% } %>
    </ul>
  </nav>
  <!-- login -->
  <div class="ml-auto">
    <% if(isLoggedIn) { %>
    <form action="/logout" method="POST">
      <button
        type="submit"
        class="text-blue-500 rounded-2xl p-2 border border-gray-300 hover:bg-gray-200 hover:text-black"
      >
        Logout</button
      >
    </form>
    <% } else { %>
    <a
      href="/login"
      class="text-blue-500 rounded-2xl p-2 border border-gray-300 hover:bg-gray-200 hover:text-black"
    >
      Login</a
    >
    <% } %>   
    
  </div>
</header>
